{% extends 'template.html' %}
{% block title %}Chat Room{% endblock %}
{% block script %}<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>{% endblock %}
{% block main_header %}Welcome, {% endblock %}
{% block sub_header %}You are now in the lobby. Start a chat with someone, join an existing chat, or stay here!{% endblock %}
<div class="main-window">
    <div class="chat-list">
        <span>Chats</span>
        <ul></ul>
    </div>
    <div class="chat-room chat-room-main">
        <div class="chat-room head" id="chat-room-head">
            <span>Chat Room Name placeholder</span>
        </div>
        <div class="chat-room chat-room-body">
            <div class="chat-room chat-room-window">
                <div class="message message-window" id="message-window">
{#                    <div class="message message-container">#}
{#                        <div class="message message-header">username timestamp</div>#}
{#                        <div class="message message-text">dummy message</div>#}
{#                    </div>#}
                </div>
                <div class="chat-room message-inputbox">
                    <input type="text" id="message-input">
                    <button id="sendButton">Send</button>
                </div>
            </div>
            <div class="chat-room chat-room-meta head">Room metainfo placeholder</div>
        </div>
    </div>
</div>
</body>
</html>