{# The style of the login snippet is borrowed from https://bootsnipp.com/snippets/dldxB by Raj78. #}
{% extends 'template.html' %}
{% block title %}Chat Room - Welcome{% endblock %}
{% block script %}<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>{% endblock %}
{% block main_header %}Welcome to Chat room{% endblock %}
{% block sub_header%}Please create a username to start.{% endblock %}
{% block main_body %}
    <div class="row m-0">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="wrapper fadeInDown">
                <div class="formContent">
                <!-- Login Form -->
                    <form id="join-form" >
                        <label for="username" class="pt-3"><h3>Username</h3></label>
                        <input type="text" class="my-3" id="username" name="username" placeholder="Enter username...">
                        <input type="submit" class="btn py-3 my-3" value="Join Chat">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="wrapper fadeInDown">
                <div class="container rounded-lg px-3">
                    <h3 class="px-3 pt-3">Active Users</h3>
                    <ul id="active-user-list" class="shadow-lg list-group rounded-lg mx-3 px-3 py-3">
                      <li class="list-group-item rounded">Dummy User</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}